doctype html
html(lang="zh-TW")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title STYLiSH
    body(style="font-size: 25px;")
        section#content
        h2 Test List
        
        div
            a(href="/test-upload") /test-upload
        div
            a(href="/test-postfb") /test-postfb
        div
            a(href="/test-signup") /test-signup
        div
            a(href="/test-signin") /test-signin
        div
            a(href="/test-get-profile") /test-get-profile
        div
            a(href="/test-favor-s") /test-favor-s
        div
            a(href="/test-favor-d") /test-favor-d
        div
            a(href="/test-favor-g") /test-favor-g
        div
            a(href="/test-favor-loop") /test-favor-loop
        div
            a(href="/test-video-g") /test-video-g
        div
            a(href="/test-video-a") /test-video-a
        div
            a(href="/test-mail") /test-mail
        div
            a(href="/test-email-s") /test-email-s
        div
            a(href="/test-sqs") /test-sqs
        div
            a(href="/test-chat-bot") /test-chat-bot
        div
            a(href="/test-chat-bot-api") /test-chat-bot-api